<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"><link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h1 class="text-center" style="color: #007bff;">学习资源个性化推荐系统</h1>



                <!-- 显示错误消息 -->
                {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
                {% endif %}
                <form method="post" action="{{ url_for('login') }}">
                    <div class="form-group">
                        <label for="userID">请输入您的用户ID：</label>
                        <input type="text" class="form-control" id="userID" name="userID" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">登录</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <a href="{{ url_for('all_users') }}">查看可登录的用户ID</a>
                </div>
            </div>
        </div>
    </div>

</body>


</html>